<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar pokemons</title>
    <!--link del CSS de Boostrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!--link de la biblioteca de iconos de Boostrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!--Mi CSS-->
    <link rel="stylesheet" href="./buscar-pokemons.css">
</head>
<body>
    <header>
        <!--Consigna "Menu hamburgesa"-->
        <!--nav contiene los elementos que estaran en la barra de navegación (gracias al navbar)-->
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <!--button expande la barra de navegación lateral (gracias al toggler)-->
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--div contiene los elementos que estaran en la barra de navegación lateral (gracias al offcanvas)-->
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasLabel">Poke menu</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <!--ul es lista de links de la barra de navegación-->
                        <ul class="navbar-nav container-fluid d-flex justify-content-center gap-lg-5 gap-md-4 gap-sm-3">
                            <li class="nav-item">
                                <a class="nav-link" href="../pagina-inicio/index.html">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" aria-current="page" href="../pagina-busqueda-pokemons/buscar-pokemons.html">
                                    Buscar pokemons
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../pagina-busqueda-cartas/buscar-cartas.html">
                                    Buscar cartas
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../pagina-tipos-pokemon/tipos-pokemons.html">Tipos pokemons</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="../pagina-contactos/contactos.html">Contactos</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <h1>Pokedex</h1>
    </header>

    <main>
        <div id="app">
            <section id="busqueda-pokemons">
                <h2>Buscar Pokemons</h2>

                <label for="nombre-pokemon" class="visually-hidden"> buscar pokemones: </label>
                <input v-model="textoDeBusqueda" id="nombre-pokemon" placeholder="ej: bulbasaur">

                <p v-if="cargandoDatosIniciales" class="fs-1"> Cargando datos... </p>
                <p v-else-if="errorDatosIniciales !== null" class="fs-1"> Hubo un error al obtener los datos </p>
                <template v-else>
                    <label for="tipos-pokemons" class="visually-hidden"> buscar pokemones: </label>
                    <select id="tipos-pokemons" v-model="tipoDePokemonSeleccionado">
                        <option value="Todos" selected>Todos</option>
                        <option v-for="tipo in tiposDePokemons" :value="tipo" :key="tipo">
                            {{tipo}}
                        </option>
                    </select>

                    <p>cantidad de pokemons encontrados: {{ contadorPokemons }}</p>
                    
                    <div class="container">
                        <ul @click="verDetallesDelPokemon" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 list-unstyled g-3">
                            <li v-for="pokemon in pokemonsFiltrados" :key="pokemon.id" :id="pokemon.id" class="col">
                                <div class="card h-100">
                                    <img :src="pokemon.urlImagen" class="card-img-top" :alt="pokemon.nombre">

                                    <div class="card-body">
                                        <h5 class="card-title">{{pokemon.nombre}}</h5>
                                        <h6>tipos: </h6>
                                        <ul>
                                            <li v-for="tipo in pokemon.tipos">
                                                {{tipo}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    

                    <p v-if="cargandoObtenerMasPokemons" class="fs-1"> Cargando más pokemones... </p>
                    <p v-else-if="errorObtenerMasPokemons !== null" class="fs-1"> 
                        Hubo un error al intentar cargar más pokemons 
                    </p>
                    
                    <button @click="cargarMasPokemons" :obtenerCantidadesDeTiposDePokemons="obtenerCantidadesDeTiposDePokemons">
                        Ver más pokemones
                    </button>

                    <componente-grafico :pokemons="pokemonsFiltrados">
                        <!--Generar graficos dinamicamente con Vue-->
                    </componente-grafico>

                    <componente-estadistica
                    :pokemons='pokemonsFiltrados'
                    :obtener-cantidades-de-tipos-de-pokemons='obtenerCantidadesDeTiposDePokemons'>
                        <!--Generar estadisticas dinamicamente con Vue-->
                    </componente-estadistica>

                </template>
            </section>
        </div>
    </main>

    <!-- 
    2. Footer con redes sociales
    -->
    <footer>
        <ul>
            <li>
                <!--link a GitHub-->
                <a href="https://github.com/said438/tp-final-front-end.git" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-github fs-2"></i>
                </a>
            </li>

            <li>
                <!--link a Linkedin-->
                <a href="https://www.linkedin.com/in/said-santos/" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-linkedin fs-2"></i>
                </a>
            </li>
        </ul>
    </footer>

    <!--script del JS de Boostrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <!--script de mi JS-->
    <script type="module" src="/src/components/pages/pagina-busqueda-pokemons/busqueda-pokemons.js"></script>
    <!--CDN de Echarts-->
    <script src="https://cdn.jsdelivr.net/npm/echarts@6.1.0/dist/echarts.min.js"></script>
</body>
</html>